@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.App {
    background-color: #0E1323;
    height: 100%;
}

.container {
    margin: 0 auto;
    padding: 10%;
    min-width: 375px;
    font-family: 'Rubik', sans-serif;
}

@media(min-width: 1400px) {
    .container {
        margin: 0 auto;
        padding-top: 10%;
        max-width: none;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        border: 1px solid rgb(128, 90, 0);

    }
}

@import "./_user";
@import "./profile";
@import "./board";
@import "./card";