@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  background-color: #0E1323;
  height: 100%;
}

.container {
  margin: 0 auto;
  padding: 10%;
  min-width: 375px;
  font-family: "Rubik", sans-serif;
}

@media (min-width: 1400px) {
  .container {
    margin: 0 auto;
    padding-top: 10%;
    max-width: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(128, 90, 0);
  }
}
.user {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.buttons {
  width: 327px;
  height: 203px;
  border-radius: 15px;
  background-color: #1C204B;
}

.buttons__state {
  margin-top: 157px;
  font-weight: 400;
  font-size: 18px;
  color: #7078C9;
  width: 108px;
  border: none;
  background-color: transparent;
}

.buttons__state:hover {
  cursor: pointer;
}

.buttons__state:focus {
  color: #FFFFFF;
}

@media (min-width: 1400px) {
  .user {
    margin-top: 0;
    margin-right: 30px;
  }
  .buttons {
    margin: 0 auto;
    width: 255px;
    height: 518px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 32px;
  }
  .buttons__state {
    margin-top: 21px;
    width: 108px;
    border: none;
    background-color: transparent;
    text-align: left;
  }
}
.profile {
  width: 327px;
  background-color: #5747EA;
  border-radius: 15px;
  height: 133px;
  display: flex;
  align-items: center;
  padding: 35px 32px;
  position: absolute;
}

.profile__photo {
  width: 64px;
  border-radius: 50%;
  border: 3px solid #FFFFFF;
  margin-right: 20px;
}

.profile__text {
  font-weight: 400;
  font-size: 15px;
  color: #BBC0FF;
}

.profile__name {
  font-weight: 300;
  font-size: 24px;
  color: #FFFFFF;
}

@media (min-width: 1400px) {
  .profile {
    width: 255px;
    height: 354px;
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 37px 32px;
    position: absolute;
  }
  .profile__text {
    margin-top: 43px;
  }
  .profile__photo {
    width: 78px;
  }
  .profile__name {
    font-weight: 300;
    font-size: 40px;
  }
}
.board {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 1400px) {
  .board {
    display: flex;
    flex-wrap: wrap;
    width: 825px;
    height: 518px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: space-between;
  }
}
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  overflow: hidden;
  margin-top: 24px;
  width: 327px;
  border-radius: 15px;
  background-repeat: no-repeat;
  background-position: top -8px right 20px;
}

.card:nth-child(1) {
  background-color: #FF8B64;
  background-image: url(/src/images/icon-work.svg);
}

.card:nth-child(2) {
  background-color: #55C2E6;
  background-image: url(/src/images/icon-play.svg);
}

.card:nth-child(3) {
  background-color: #FF5E7D;
  background-image: url(/src/images/icon-study.svg);
}

.card:nth-child(4) {
  background-color: #4BCF82;
  background-position: top 0px right 20px;
  background-image: url(/src/images/icon-exercise.svg);
}

.card:nth-child(5) {
  background-color: #7335D2;
  background-position: top -12px right 20px;
  background-image: url(/src/images/icon-social.svg);
}

.card:nth-child(6) {
  background-color: #F1C75B;
  background-position: top -12px right 20px;
  background-image: url(/src/images/icon-self-care.svg);
}

.card__background {
  width: 327px;
  height: 160px;
  border-radius: 15px;
}

.card__datas {
  width: 327px;
  height: 122px;
  background-color: #1C204B;
  border-radius: 15px;
  position: absolute;
  top: 38px;
  padding: 28px 24px;
  display: flex;
  flex-direction: column;
}

.card__datas:hover {
  cursor: pointer;
  background-color: #33397A;
}

.card__title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card__name {
  font-weight: 500;
  font-size: 18px;
  color: #FFFFFF;
}

.card__ellipsis {
  width: 21px;
  height: 5px;
}

.card__ellipsis:hover {
  cursor: pointer;
  filter: brightness(200%) saturate(0%);
}

.card__hours {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 6px;
}

.card__hour--current {
  font-weight: 300;
  font-size: 32px;
  color: #FFFFFF;
}

.card__hour--prev {
  font-weight: 400;
  font-size: 15px;
  color: #BBC0FF;
}

@media (min-width: 1400px) {
  .card {
    margin-top: 0;
    width: 255px;
  }
  .card__background {
    width: 255px;
    height: 244px;
  }
  .card__datas {
    width: 255px;
    height: 199px;
    position: absolute;
    top: 45px;
    padding: 28px 24px;
    display: flex;
    flex-direction: column;
  }
  .card__hours {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;
    margin-top: 24px;
  }
  .card__hour--current {
    font-size: 56px;
  }
  .card__hour--prev {
    margin-top: 8px;
  }
}/*# sourceMappingURL=app.css.map */